
/* class for button panel */
.btn-bar {
    background-color: #202020;
    margin: 0;
    padding: 0;
    border: none;
    height: 44px;
    z-index: 20;
}

.btn,
.btn:disabled {
    border: none;
    padding: 10px;
    text-decoration: none;
    transition: background-color .2s linear;
    z-index: 20;
    cursor: pointer;
}

.btn {
    background-color: #202020;
    color: #DFDFDF;
}

.btn:disabled {
    color: #A0A0A0;
    background-color: #3F3F3F;
}

.btn-icon {
    background-attachment: scroll;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 24px;
    height: 24px;
    z-index: 20;
}

.side-bar {
    float: left;
    z-index: 30;
    width: 44px;
    bottom: 0;
    top: 44px;
}
.side-btn {
    background-color: #101010;
}


.btn:hover {
    background-color: #2F2F2F;
}

.btn:focus {
    outline: none;
    background-color: #3F3F3F;
}
.btn:after {
    background-color: #202020;
}

#btn-clients-icon       { background-image: url('/img/buttons/clients.png'); }
#btn-management-icon    { background-image: url('/img/buttons/management.png'); }
#btn-orders-icon        { background-image: url('/img/buttons/orders.png'); }
#btn-reports-icon       { background-image: url('/img/buttons/reports.png'); }
#btn-stat-icon          { background-image: url('/img/buttons/stat.png'); }
#btn-equip-icon         { background-image: url('/img/buttons/equip.png'); }
#btn-logout-icon        { background-image: url('/img/buttons/logout.png'); }
#btn-view-icon          { background-image: url('/img/buttons/view.png'); }
#btn-add-icon           { background-image: url('/img/buttons/add.png'); }
#btn-add-report-icon    { background-image: url('/img/buttons/add-report.png'); }



.pop-up-warning { background-color: rgba(172, 172, 0, 0.8) }
.pop-up-warning div.pop-up-icon {
    background-image: url("/img/buttons/warning.png");
    background-color: transparent;
}


.pop-up-error   { background-color: rgba(144, 0, 0, 0.8) }
.pop-up-error div.pop-up-icon {
    background-image: url("/img/buttons/error.png");
    background-color: transparent;
}

.pop-up-info    { background-color: rgba(0, 128, 128, 0.8) }
.pop-up-info div.pop-up-icon {
    background-image: url("/img/buttons/info.png");
    background-color: transparent
}

.pop-up-success   { background-color: rgba(0, 144, 0, 0.8) }
.pop-up-info div.pop-up-icon {
    background-image: url("/img/buttons/success.png");
    background-color: transparent
}

.pop-up-btn {
    background-image: url("/img/buttons/cancel.png");
    background-size: cover;
    right: 35px;
    top: 5px;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.pop-up-icon {
    width: 24px;
    height: 24px;
    z-index: 101;
    background-size: contain;
    background-repeat: no-repeat;
}

.pop-up-msg {
    top: 2px;
    left: 12px;
}

.pop-up {
    padding: 15px;
    width: 100%;
    position: absolute;
    z-index: 40;
}


.report-overview
{
    width: 450px;
    position: absolute;
    left: 44px;
    border: 1px solid;
}





.tile-bar {
    margin: 0;
    padding: 0;
    border: none;
    z-index: 20;
}

.tile {
    background-color: #161616;
    color: #DFDFDF;
    z-index: 22;
    width: 200px;
    height: 200px;
    margin: 2px;
    letter-spacing: 1px;
    text-decoration: none!important;
    transition: background-color 0.2s linear;
}

.tile-icon {
    background-attachment: scroll;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 22;
    width: 60px;
    height: 60px;
    margin: calc((200px - 60px)/2);
}

.tile-caption {
    background-color: transparent;
    transition-delay: -0.1s;
    margin: 5px;
    z-index: 22;
    bottom: 0;
}

.tile:hover {
    background-color: #3F3F3F;
}

.form {
    background-color: #131313;
    width: 800px;
    margin: 0 auto;
    display: block;
    padding: 10px;
    z-index: 20;
}

.upper-text {
    padding: 5px 0;
}

.text {
    padding: 10px 0;
}

.form-tip {
    padding: 10px 0;
    z-index: 22;
}

.form-row {
    height: 44px;
    width: 100%;
    z-index: 21;
}

.input-element {
    padding: 10px 0;
    z-index: 22;
}

.clear {
    outline: none;
    color: #DFDFDF;
}

.turned-off { color: #FFBBBB; }
.turned-on { color: #BBFFBB; }

.wrong {
    outline: 1px solid #DF1F1F;
    color: #FFBBBB;
}

.correct {
    outline: 1px solid #1FDF1F;
    color: #BBFFBB;
}

.input-text {
    background-color: #202020;
    z-index: 23;
    height: 30px;
    width: 350px;
    border: none;
    padding: 5px 10px;
    transition: 0.2s linear;
}

.input-text:focus {
    background-color: #3F3F3F;
    outline: none;
}


.logo {
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: contain;
    vertical-align: middle;
    width: 18%;
    height: 74px;
}

