
/* class for button panel */
.btn-bar {
    background-color: #202020;
    margin: 0;
    padding: 0;
    border: none;
    height: 45px;
    z-index: 20;
}

.btn,
.btn:disabled {
    border: none;
    letter-spacing: 1px;
    padding: 10px;
    text-decoration: none;
    transition: background-color .2s linear;
    z-index: 20;
    cursor: pointer;
}

.btn {
    background-color: #202020;
    color: #DFDFDF;
}

.btn:disabled {
    color: #A0A0A0;
    background-color: #3F3F3F;
}

.btn-icon {
    background-attachment: scroll;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 14px;
    height: 14px;
    z-index: 20;
}


.btn:hover {
    background-color: #2F2F2F;
}

.btn:focus {
    outline: none;
    background-color: #3F3F3F;
}
.btn:after {
    background-color: #202020;
}

#clients-icon       { background-image: url('/img/clients.png'); }
#management-icon    { background-image: url('/img/management.png'); }
#orders-icon        { background-image: url('/img/order.png'); }
#reports-icon       { background-image: url('/img/reports.png'); }
#stat-icon          { background-image: url('/img/stat.png'); }
#services-icon      { background-image: url('/img/services.png'); }
#equip-icon         { background-image: url('/img/equip.png'); }
#report-icon        { background-image: url('/img/report.png'); }
#logout-icon        { background-image: url('/img/buttons/logout.png');
                      background-attachment: scroll;
                      background-repeat: no-repeat;
                      background-position: center;
                      /*background-size: cover;*/
                      width: 24px;
                      height: 24px;}


.tile-bar {
    margin: 0;
    padding: 0;
    border: none;
    z-index: 20;
}

.tile {
    background-color: #161616;
    color: #DFDFDF;
    z-index: 22;
    width: 200px;
    height: 200px;
    margin: 2px;
    letter-spacing: 1px;
    text-decoration: none!important;
    transition: background-color 0.2s linear;
}

.tile-icon {
    background-attachment: scroll;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 22;
    width: 60px;
    height: 60px;
    margin: calc((200px - 60px)/2);
}

.tile-caption {
    background-color: transparent;
    transition-delay: -0.1s;
    margin: 5px;
    z-index: 22;
    bottom: 0;
}

.tile:hover {
    background-color: #3F3F3F;
}

.form {
    background-color: #131313;
    width: 800px;
    margin: 0 auto;
    display: block;
    padding: 10px;
    z-index: 20;
}

.upper-text {
    padding: 10px 0;
}

.text {
    padding: 10px 0;
}

.form-tip {
    padding: 10px 0;
    z-index: 22;
}

.form-row {
    height: 45px;
    width: 100%;
    z-index: 21;
}

.input-element {
    padding: 10px 0;
    z-index: 22;
}

.clear {
    outline: none;
    color: #DFDFDF;
}

.turned-off { color: #FFBBBB; }
.turned-on { color: #BBFFBB; }

.wrong {
    outline: 1px solid #DF1F1F;
    color: #FFBBBB;
}

.correct {
    outline: 1px solid #1FDF1F;
    color: #BBFFBB;
}

.input-text {
    background-color: #202020;
    z-index: 23;
    height: 30px;
    width: 350px;
    border: none;
    padding: 10px;
    transition: 0.2s linear;
}

.input-text:focus {
    background-color: #3F3F3F;
    outline: none;
}



.logo {
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: contain;
    vertical-align: middle;
    width: 18%;
    height: 74px;
}

