
/* class for button panel */
.btn-bar {
    background-color: #202020;
    margin: 0;
    padding: 0;
    border: none;
    height: 44px;
}

.btn,
.btn:disabled {
    border: none;
    padding: 10px;
    text-decoration: none;
    transition: background-color .2s linear;
    z-index: 22;
    cursor: pointer;
}

.btn {
    background-color: #202020;
    color: #DFDFDF;
}

.btn:disabled {
    color: #A0A0A0;
    background-color: #3F3F3F;
}

.btn-icon {
    background-attachment: scroll;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 24px;
    width: 24px;
    z-index: 21;
}

.side-bar {
    background-color: #202020;
    z-index: 30;
    width: 44px;
    line-height: 24px;
    bottom: 0;
}

.side-btn {
    width: 24px;
    height: 24px;
}


.btn:hover {
    background-color: #2F2F2F;
}

.btn:focus {
    outline: none;
    background-color: #3F3F3F;
}
.btn:after {
    background-color: #202020;
}

#btn-clients-icon           { background-image: url('/img/buttons/clients.png'); }
#btn-management-icon        { background-image: url('/img/buttons/management.png'); }
#btn-orders-icon            { background-image: url('/img/buttons/orders.png'); }
#btn-reports-icon           { background-image: url('/img/buttons/reports.png'); }
#btn-stat-icon              { background-image: url('/img/buttons/stat.png'); }
#btn-equip-icon             { background-image: url('/img/buttons/equip.png'); }
#btn-logout-icon            { background-image: url('/img/buttons/logout.png'); }
#btn-view-icon              { background-image: url('/img/buttons/view.png'); }
#btn-add-icon               { background-image: url('/img/buttons/add.png'); }
#btn-add-report-icon        { background-image: url('/img/buttons/add-report.png'); }
#btn-add-order-icon         { background-image: url('/img/buttons/add-report.png'); }
#btn-view-order-icon        { background-image: url('/img/buttons/view.png'); }
#btn-add-position-icon      { background-image: url('/img/buttons/add-position.png') }
#btn-remove-all-icon        { background-image: url('/img/buttons/remove-all.png') }
#btn-search-icon            { background-image: url('/img/buttons/search.png') }
#btn-delete-position-icon   { background-image: url('/img/buttons/delete-position.png') }
#btn-book-order-icon   { background-image: url('/img/buttons/success.png') }



.pop-up-warning { background-color: rgba(255, 255, 0, 0.8); color: #000;}
.pop-up-warning div.pop-up-icon {
    background-image: url("/img/buttons/warning.png");
    filter: invert(1);
    background-color: transparent;
}
.pop-up-warning div.pop-up-btn {
    filter: invert(1);
}


.pop-up-error   { background-color: rgba(144, 0, 0, 0.8) }
.pop-up-error div.pop-up-icon {
    background-image: url("/img/buttons/error.png");
    background-color: transparent;
}

.pop-up-info    { background-color: rgba(0, 128, 128, 0.8) }
.pop-up-info div.pop-up-icon {
    background-image: url("/img/buttons/info.png");
    background-color: transparent
}

.pop-up-success   { background-color: rgba(0, 192, 0, 0.8) }
.pop-up-success div.pop-up-icon {
    background-image: url("/img/buttons/success.png");
    background-color: transparent
}

.pop-up-btn {
    background-image: url("/img/buttons/cancel.png");
    background-size: cover;
    right: 5px;
    top: 5px;
    width: 16px;
    height: 16px;
    cursor: pointer;
}


.pop-up-icon {
    width: 24px;
    height: 24px;
    z-index: 101;
    background-size: contain;
    background-repeat: no-repeat;
}

.pop-up-msg {
    top: 2px;
    left: 12px;
}

.pop-up {
    padding: 15px;
    width: 1170px;
    position: absolute;
    z-index: 70;

}


.report-overview
{
    width: 450px;
    position: absolute;
    left: 44px;
    border: 1px solid;
}

.tile-bar {
    margin: 0;
    padding: 0;
    border: none;
    z-index: 20;
}

.tile {
    background-color: #161616;
    color: #DFDFDF;
    z-index: 22;
    width: 200px;
    height: 200px;
    margin: 2px;
    letter-spacing: 1px;
    text-decoration: none!important;
    transition: background-color 0.2s linear;
}

.tile-icon {
    background-attachment: scroll;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 22;
    width: 60px;
    height: 60px;
    margin: calc((200px - 60px)/2);
}

.tile-caption {
    background-color: transparent;
    transition-delay: -0.1s;
    margin: 5px;
    z-index: 22;
    bottom: 0;
}

.tile:hover {
    background-color: #3F3F3F;
}

.form {
    background-color: #131313;
    width: 800px;
    margin: 0 auto;
    display: block;
    padding: 10px;
    z-index: 20;
}

.upper-text {
    padding: 5px 0;
}

.text {
    line-height: 44px;
    padding: 0px;
    margin: 0px;
}

.form-tip {
    padding: 10px 0;
    z-index: 22;
}

.form-row {
    vertical-align: middle;
    height: 44px;
    z-index: 21;
}

.form-row * {
    display: inline-block;
}

.input-element {
    z-index: 22;
}

.clear {
    outline: none;
    color: #DFDFDF;
}

.turned-off { color: #FFBBBB; }
.turned-on { color: #BBFFBB; }

.wrong {
    outline: 1px solid #DF1F1F;
    color: #FFBBBB;
}

.correct {
    outline: 1px solid #1FDF1F;
    color: #BBFFBB;
}

.input-text {
    background-color: #202020;
    z-index: 23;
    height: 34px;
    width: 350px;
    border: none;
    padding: 5px 10px;
    transition: 0.2s linear;
}

.input-text:focus {
    background-color: #3F3F3F;
    outline: none;
}

.logo {
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: contain;
    vertical-align: middle;
    width: 18%;
    height: 74px;
}

.page-content {
    width: 1200px;
    margin: 0 auto;
    background-color: #131313;
    color: #dfdfdf;
}

.clndr-column {
    width: 120px;
}

.content-title {
    padding: 10px;
    background-color: #202020;
    color: #dfdfdf;
    letter-spacing: 1px;
    height: 44px;
}

.date-select {
    background-color: #131313;
    position: absolute;
    padding: 10px;
    width: 480px;
}

.month-select {
    position: relative;
    margin: 10px 0;
    width: 480px;
    outline: 1px solid #2f2f2f;
}

.select-field {
    margin: 0 10px;
    padding: 10px 5px;
    border: none;
    height: 44px;
    width: 80px;
    outline: none;
    background-color: #202020;
    color: #DFDFDF;
}

.select-field option {
    background-color: #131313;
    color: #dfdfdf;
    outline: none;
    margin: 0;
    padding: 5px;
    border: none;
}
.select-field option:focus {
    background-color: #2f2f2f;
}


.column-caption {
    background-color: #191919;
    padding: 10px;
}


.report-view {
    height: 484px;
    width: 680px;
    position: relative;
    left: 500px;
    padding: 10px;
    text-align: center;
    display: none;
    background-color: #1f1f1f;
}


.clndr-cell {
    background-color: #131313;
    cursor: pointer;
    width: 120px;
    position: relative;
    height: 120px;
    transition: .2s linear;
    outline: 1px solid #2f2f2f;
}


.clndr-cell-btns {
    top: 0;
    right: 0;
    width: 120px;
    height: 120px;
    display: none;
    position: absolute;
    transition: .2s linear;
    z-index: 50;
    cursor: pointer;
}


.clndr-cell:hover {
    background-color: #1f1f1f;
}


.clndr-btn-icon {
    top: 48px;
    right: 48px;
    opacity: 1;
    cursor: pointer;
    z-index: 51;
}


.clndr-btn {
    top: 0px;
    right: 0px;
    width: 120px;
    height: 120px;
    opacity: 0;
    cursor: pointer;
    z-index: 52;
}


.clndr-cell:hover .clndr-cell-btns {
    display: block;
    background-color: #2f2f2f;
    opacity: 0.7;
}


.clndr-cell:hover .clndr-btn {
    display: block;
    background-color: #2f2f2f;

}


.clndr-cell:active {
    background-color: #2F2F2F;
}


.clndr-chosed {
    outline: 1px solid #FFFF00;
}


.clndr-caption {
    position: relative;
    left: 10px;
    z-index: 41;
}


.clndr-month-index {
    float: left;
    font-size: 30pt;
    font-weight: 500;
    position: relative;
    left: 5px;
    z-index: 41;
}


.clndr-month-name-en {
    position: absolute;
    bottom: 35px;
    right: 5px;
    color: #a1a1a1;
}


.clndr-month-name-ru {
    position: absolute;
    bottom: 5px;
    right: 5px;
}


.table {
    margin: 0 auto;
}


.table-col-name {
    font-weight: 100!important;
    padding: 3px;
}


.table-head {
    padding: 5px;
}


.table-row {
    padding: 1px;
    transition: .2s linear;
}


.table-row:hover .table-cell{
    background-color: #2f2f2f;
}


.table-cell {
    background-color: #131313;
    padding: 3px;
}


.order-view {
    width: 556px;
}


.receipt-view {
    width: 580px;
}


.order-entities {
    width: 1156px;

}


#passport-serial {
    width: 46px;
}


#passport-number {
    width: 88px;
}

.orders-list {
    width: 556px;
    list-style: none;
    margin: -1px 0;
    padding: 0;
}

.order-list-btns {
    top: 0;
    right: 0;
    width: 132px;
    height: 44px;
}

.order-list-btns * {
    display: inline-block;
}

.order-position {
    margin: 0;
    border-bottom: 10px solid #1f1f1f;
    width: inherit;
}

.order-position-btn {
    width: 44px;
    height: 44px;
    right: 0;
    top: 44px;
}

.order-type {
    width: 140px;
}

.order-client-id {
    margin: 0 0 -5px 0;
}

.order-item-quantity {
    width: 24px;
    margin: 0 10px;
}

.order-ids-fields {
    width: 96px;
    margin: 0 10px;
}

.order-select-box {
    width: 215px;
}
