
/* font-size */
.h14pt  { font-size: 14pt }
.h20pt  { font-size: 20pt }
.h26pt  { font-size: 26pt }
.h32pt  { font-size: 32pt }
.h40pt  { font-size: 40pt }

/* font-face */
@font-face { font-family: Russia; src: url(../fonts/russia.ttf); }
@font-face { font-family: Segoe UI; src: url(../fonts/segoeui.ttf); }

.russia { font-family: Russia; font-weight: 100;}

/* font-weight */
.bold       { font-weight: 900 }
.light      { font-weight: 100 }
.regular    { font-weight: 500 }


