
/* font-size */
.h10pt  { font-size: 10pt }
.h12pt  { font-size: 12pt }

.tiny   { font-size: 10pt }
.small  { font-size: 12pt }
.little { font-size: 14pt }
.medium { font-size: 16pt }
.big    { font-size: 20pt }
.large  { font-size: 30pt }

.lh-small {}

.h16pt  { font-size: 16pt }
.h20pt  { font-size: 20pt }
.h26pt  { font-size: 26pt }
.h32pt  { font-size: 32pt }
.h40pt  { font-size: 40pt }

/* font-face */
@font-face { font-family: Russia; src: url(../fonts/russia.ttf); }
/*@font-face { font-family: Segoe UI; src: url(../fonts/segoeui.ttf); }*/

.segoe-ui { font-family: "Segoe UI"; font-weight: 100; }

/* font-weight */
.bold       { font-weight: 900 }
.light      { font-weight: 100 }
.regular    { font-weight: 500 }


